@import url('https://fonts.googleapis.com/css2?family=Montserrat');

header {
    /* display: flex; */
    background-color: #273D54;
    border-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    /* width: 99%; */

}

h1 {
    color: #d30000;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    margin: 0;
}

body {
    margin: 0;
}

.header_div {
    display: flex;
    width: 100%;
}


.header_logo {
    display: inline;
    width: 33%;
    vertical-align: middle; 
}

.header_title {
    display: inline;
    color: white;
    justify-content: center;
    height: auto;
    align-items: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    width: 33%;
    align-self: center;
}

.header_profile {
    display: inline;
    width: 33%;
    align-content: center;
    align-self: center;
    text-align: right;
}